.node {
  width: 25px;
  height: 25px;
  outline: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}

.node-finish {
  background-color: green;
}

.node-start {
  background-color: orangered;
}

.node-visited {
  background-color: blue;
}

.node-wall {
  background-color: black;
}

.node-shortest-path {
  background-color: yellow;
}
